<h2>Contact Information</h2>
<div class="row pad-top pad-bottom-large">
  <div class="four-col">  
    <%= f.label :contact_name, "Requested by" %>
    <%= f.text_field :contact_name %>
  </div>
  <div class="four-col">  
    <%= f.label :company, "Distributor" %>
    <%= f.text_field :company %>
  </div>
  <div class="four-col">
    <%= f.label :contact_email, "Contact Email" %>
    <%= f.text_field :contact_email %>
  </div>
  <div class="four-col">
    <%= f.label :contact_phone, "Contact Phone" %>
    <%= f.text_field :contact_phone %>
  </div>
</div>
