<% 
  due_date = if @virtual_request.nil? 
    ""
  else
    @virtual_request.due_date.try(:strftime, "%m/%d/%y")
  end
%>

<h2>Virtual Details</h2>
<div class="row pad-top pad-bottom-large">
  <div class="four-col">
    <%= f.label :end_client %>
    <%= f.text_field :end_client %>
  </div>
  <div class="four-col">
    <%= f.label :purchase_order, "PO (optional)" %>
    <%= f.text_field :purchase_order %>
  </div>
  <div class="four-col">
    <%= f.label :quantity, "Quantities" %>
    <%= f.text_field :quantity %>
  </div>
  <div class="four-col">
    <%= f.label :budget, "Approx. Budget Per Book (NET)" %>
    <%= f.text_field :budget %>
  </div>
</div>
<h2>Artwork</h2>
<div class="row pad-top pad-bottom-large">
  <div class="four-col">
    <%= f.label :art, "Select/Replace Art File" %>
    <%= f.file_field :art %>
    <%#= link_to "Download Art", @virtual_request.art.url, class: "button" if @virtual_request.art.present? %>
  </div>
  <div class="four-col">
    <%= f.label :art_website, "url for artwork" %>
    <%= f.text_field :art_website %>
  </div>
  <div class="four-col">
    <%= f.label :unformatted_date, "Due Date" %>
    <%= f.text_field :unformatted_date, value: due_date %> 
  </div>
</div>
