<% 
  show_artists    ||= false
  show_requested  ||=false 
  elem_class       ||= ""
  need_quote      ||= false
%>

<table class="<%= elem_class %> virtual-tbl">
  <thead>
    <tr>
      <th>Due</th>
      <th>End Client</th>
      <th>Quote No.</th>
      <th>Requested By</th>
      <th>Company</th>
      <% if show_artists %>
        <th>Creative</th>
      <% end %>
      <% if show_requested %>
        <th>Sales</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% unless virtuals.empty? %>
      <% virtuals.each do |v| %>
        <tr>
          <td><%= v.due_date_human %></td>
          <% if need_quote %>
            <td>
              <%= link_to v.end_client, add_quote_virtual_request_path(v) %> 
            </td>
          <% else %>
            <td>
              <% if v.quote.nil? %>
                <%= link_to v.end_client, add_quote_virtual_request_path(v) %>
              <% elsif v.processed %>
                <%= link_to v.end_client, virtual_request_path(v) %>
                <% unless v.virtuals.empty? %>
                  (<%= v.virtuals.count %>)
                <% end %>
              <% else %>
                <%= link_to "#{v.end_client} (processing)", add_quote_virtual_request_path(v) %> 
              <% end %>
            </td>
          <% end %>
          <td><%= v.quote ? v.quote : "<em class='alert-text'>Quote Needed</em>".html_safe %></td>
          <% if v.contact_name.present? %> 
            <td>
              <%= v.contact_name %>
              <%= image_tag "icons/jb.png", class: "small-tbl-icon" if v.user_id.present? %>
            </td>
            <td><%= "<span class='priority'>&#9733;</span>".html_safe if v.priority %> <%= v.company %></td>
          <% else %>
            <td>
              <em class='alert-text'>Pending</em>
            </td>
            <td>
              <em class='alert-text'>Pending</em>
            </td>
          <% end %>
          <% if show_artists %>
            <td class="<%= "highlight" if current_user.artist_for?(v) %>"><%= v.artist.nil? ? "<em class='alert-text'>Pending</em>".html_safe : v.artist.name %></td>
          <% end %>
          <% if show_requested %>
            <td class="<%= "highlight" if current_user.requested?(v) %>"><%= v.creative_user.nil? ? "<em class='alert-text'>Pending</em>".html_safe : v.creative_user.name %></td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="8">no requests</td>
      </tr>
    <% end %>
  </tbody>
</table>
