<% show_artists ||= false %>
<table>
  <tr>
    <th>Virtual Name</th>
    <th>No.</th>
    <th>Due Date</th>
    <th>Priority?</th>
    <th>Request by</th>
    <% if show_artists %>
      <th>Artist</th>
    <% end %>
  </tr>
  <% unless virtuals.empty? %>
    <% virtuals.each do |v| %>
      <tr class="<%= current_user.owns?(v) ? "highlight" : "" %>">
        <td><%= link_to v.company, virtual_request_path(v) %></td>
        <td><%= v.id %></td>
        <td><%= v.due_date_human %></td>
        <td><%= v.priority ? "Yes" : "-" %></td>
        <td>
          <% if v.user_id.present? %>
            <%= image_tag "icons/jb.png", class: "jb-acct-icon" %>
          <% end %>
          <%= v.contact_info %>
        </td>
        <% if show_artists %>
          <td><%= v.artist.name %></td>
        <% end %>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="5">- no virtuals -</td>
    </tr>
  <% end %>
</table>
<%= link_to "Create Virtual Request", new_virtual_request_path, class: "button" %></a>