<% 
  show_artists ||= false 
  hide ||= false
%>

<table class="<%= "hide" if hide %>">
  <thead>
    <tr>
      <th>Virtual Name</th>
      <th>No.</th>
      <th>Due</th>
      <th>Priority?</th>
      <th>For</th>
      <% if show_artists %>
        <th>Artist</th>
      <% else %>
        <th>Requested by</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% unless virtuals.empty? %>
      <% virtuals.each do |v| %>
        <tr>
          <td>
            <%= link_to v.company, virtual_request_path(v) %> 
            <% unless v.virtuals.empty? %>
              (<%= v.virtuals.count %>)
            <% end %>
            <%= image_tag "icons/owned.png", class: "small-tbl-icon" if current_user.artist_for?(v) && show_artists %>
            <%= image_tag "icons/completed.png", class: "small-tbl-icon" if v.completed && show_artists %>
          </td>
          <td><%= v.id %></td>
          <td><%= v.due_date_human %></td>
          <td><%= v.priority ? "Yes" : "-" %></td>
          <td>
            <%= v.contact_name %>
            <%= image_tag "icons/jb.png", class: "small-tbl-icon" if v.user_id.present? %>
          </td>
          <% if show_artists %>
            <td><%= v.artist.name unless v.artist.nil? %></td>
          <% else %>
            <td><%= v.creative_user.name %></td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="6">- no requests made -</td>
      </tr>
    <% end %>
  </tbody>
</table>