<% 
  show_artists ||= false
  show_requested ||=false 
  completed ||= false
%>

<table class="<%= "hide" if completed %> virtual-tbl">
  <thead>
    <tr>
      <th>Due</th>
      <th>Virtual Name</th>
      <th>No.</th>
      <th>Priority?</th>
      <th>For</th>
      <% if show_artists %>
        <th>Artist</th>
      <% end %>
      <% if show_requested %>
        <th>Requested by</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% unless virtuals.empty? %>
      <% virtuals.each do |v| %>
        <tr>
          <td><%= v.due_date_human %></td>
          <td>
            <%= link_to v.company, virtual_request_path(v) %> 
            <% unless v.virtuals.empty? %>
              (<%= v.virtuals.count %>)
            <% end %>
          </td>
          <td><%= v.id %></td>
          <td><%= v.priority ? "Yes" : "-" %></td>
          <td>
            <%= v.contact_name %>
            <%= image_tag "icons/jb.png", class: "small-tbl-icon" if v.user_id.present? %>
          </td>
          <% if show_artists %>
            <td class="<%= "highlight" if current_user.artist_for?(v) %>"><%= v.artist.name unless v.artist.nil? %></td>
          <% end %>
          <% if show_requested %>
            <td class="<%= "highlight" if current_user.requested?(v) %>"><%= v.creative_user.name %></td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <% if completed %>
          <td cplspan="6">no requests recently completed</td>
        <% else %>
          <td colspan="6">no requests</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>