<% 
  show_artists ||= false
  show_requested ||=false 
  completed ||= false
%>

<table class="<%= "hide" if completed %> virtual-tbl">
  <thead>
    <tr>
      <th>Due</th>
      <th>End Client</th>
      <th>Quote No.</th>
      <th>Priority?</th>
      <th>Requested By</th>
      <th>Company</th>
      <% if show_artists %>
        <th>Creative</th>
      <% end %>
      <% if show_requested %>
        <th>Sales</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% unless virtuals.empty? %>
      <% virtuals.each do |v| %>
        <tr>
          <td><%= v.due_date_human %></td>
          <td>
            <%= link_to v.end_client, virtual_request_path(v) %> 
            <% unless v.virtuals.empty? %>
              (<%= v.virtuals.count %>)
            <% end %>
          </td>
          <td><%= v.quote ? v.quote : "<em class='alert-text'>Pending</em>".html_safe %></td>
          <td><%= v.priority ? "Yes" : "-" %></td>
          <% if v.processed %> 
            <td>
              <%= v.contact_name %>
              <%= image_tag "icons/jb.png", class: "small-tbl-icon" if v.user_id.present? %>
            </td>
            <td><%= v.company %></td>
          <% else %>
            <td>
              <em class='alert-text'>processing</em>
            </td>
            <td>
              <em class='alert-text'>processing</em>
            </td>
          <% end %>
          <% if show_artists %>
            <td class="<%= "highlight" if current_user.artist_for?(v) %>"><%= v.artist.nil? ? "PENDING" : v.artist.name %></td>
          <% end %>
          <% if show_requested %>
            <td class="<%= "highlight" if current_user.requested?(v) %>"><%= v.creative_user.nil? ? "PENDING" : v.creative_user.name %></td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <% if completed %>
          <td colspan="8">no requests recently completed</td>
        <% else %>
          <td colspan="8">no requests</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>