<%= form_for(@virtual_request, url: quote_update_virtual_request_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row pad-all-large">
    <div class="white-box">
      <h1>Quote Virtual Request</h1>
      <%= render 'quote_fields', f: f %>
      <%= render "form_fields", f: f %>
      <%= f.submit "Add Quote", class: "save-btn margin-right" %>
      <%= link_to "Go Back", root_path, class: "prev-btn" %>
    </div>
  </div>
<% end %>


