<%= form_for(@virtual_request) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row primary-bg pad-all-large">
    <div class="white-box">
      <h1>Edit <%= @virtual_request.company %></h1>
      <%= render "form_fields", f: f %>
      <%= f.submit "Save Changes", class: "save-btn margin-right" %>
      <%= link_to "Go Back", virtual_request_path(@virtual_request), class: "prev-btn margin-right" %>
      <%= link_to "Delete Request", virtual_request_path(@virtual_request), 
        method: :delete, 
        data: { confirm: "Are you sure you want to delete #{@virtual_request.company}?" },
        class: "delete-btn" %>
    </div>
  </div>
<% end %>

