<% 
  unless params[:quote].nil?
    orders_checked = params[:ordered][:options] == "no" ? "false" : "checked"
    completed_checked = params[:completed][:options] == "no" ? "false" : "checked"
    artist_selected = params[:artist][:options]
    sales_selected = params[:sales][:options]
  end 

  artist_options = CreativeUser.where(artist: true).collect {|p| [ p.name, p.id ] } 
  sales_options = CreativeUser.where(sales: true).collect {|p| [ p.name, p.id ] } 
%>

<div class="row pad-all-large">
  <div class="white-box">
    <h1>Search</h1>
    <%= form_tag virtual_requests_path, method: :get do %>
      <div class="row pad-top pad-bottom">
        <div class="four-col">
          <%= label :quote, "Virtual/Quote No."  %>
          <%= text_field_tag :quote, params[:quote] %>
        </div>
        <div class="four-col">
          <%= label :end_client, "End Client" %>
          <%= text_field_tag :end_client, params[:end_client] %>
        </div>
        <div class="four-col">
          <%= label :company, "Company"  %>
          <%= text_field_tag :company, params[:company] %>
        </div>
        <div class="four-col">
          <%= label :contact, "Requested by"  %>
          <%= text_field_tag :contact, params[:contact] %>
        </div>
      </div>
      <div class="row pad-bottom">
        <div class="four-col">
          <%= label :artist, "Artist" %>
          <%= select :artist, :options, artist_options, {include_blank: true, selected: artist_selected} %>
        </div>
        <div class="four-col">
          <%= label :sales, "Sales" %>
          <%= select :sales, :options, sales_options, {include_blank: true, selected: sales_selected} %>
        </div>
        <div class="four-col">
          <%= label :ordered, "Only Ordered Virtuals" %>
          <%= check_box :ordered, :options, { checked: orders_checked }, "yes", "no" %>
        </div>
        <div class="four-col">
          <%= label :completed, "Only Completed Virtuals" %>
          <%= check_box :completed, :options, { checked: completed_checked }, "yes", "no" %>
        </div>
      </div>
      <%= submit_tag "Search", class: "button margin-right" %>
    <% end %>
  </div>
</div>

<div class="row">
  <h1>Results</h1>
  <%= render 'virtual_request_table', virtuals: @virtual_requests %>
</div>