<%= form_for(@virtual_request) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row pad-all-large">
    <div class="white-box">
      <h1 class="pad-bottom-large">Create Virtual Request</h1>
      <%= render 'quote_fields', f: f %>
      <%= render "virtual_fields", f: f %>
      <%= f.submit "Create Virtual Request", class: "save-btn margin-right" %>
      <%= link_to "Go Back", root_path, class: "prev-btn" %>
    </div>
  </div>
<% end %>

