<%= form_for(@virtual_request) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="white-box">
    <h1>Create Virtual Request</h1>
    <%= render "form_fields", f: f %>
    <%= f.submit "Create Virtual Request", class: "button margin-right" %>
    <%= link_to "Go Back", virtual_requests_path, class: "button" %>
  </div>
<% end %>

