<tr>
  <td><%= @virtual_request.company %></td>
  <td><%= @virtual_request.due_date %></td>
  <td><%= @virtual_request.priority %></td>
  <td>
    <% if @virtual_request.user_id.present? %>
      <%= image_tag "icons/jb.png", class: "jb-acct-icon" %>
    <% end %>
    <%= @virtual_request.contact_info %>
  </td>
  <td>09/01/13</td>
</tr>