<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <section class="white-box">
    <h2>Create Artist</h2>
    <div class="row">
      <div class="four-col">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="four-col">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="four-col">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="four-col">
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <div class="row">
      <%= f.label :admin %>
      <%= f.check_box :admin %>
    </div>
    
    <%= f.submit "Create Artist", class: "button margin-right" %>
    <%= link_to "Go Back", artists_path, class: "button" %>
  </section>
<% end %>