<div class="virtual-box">
  <div class="row">
    <div class="two-col pad-right">
      <h2><%= @virtual_request.end_client %> <%= v.version_display %></h2>  
      <em>recipients</em>
      <p class="comments">
        <% rec = v.recipients.split(",") %>
        <% rec.each do |email| %>
          <%= email %><br/>
        <% end %> 
      </p>
      <p class="pad-top">
        <em>distributor comments</em>
        <p class="comments">
          <% if v.user_comments.nil? %>
            <em class="alert-text">none</em>
          <% else %>
            <%= v.user_comments %>
          <% end %>
        </p>
      </p>
      <% if v.sent.present? %>
        <p class="pad-top">
          <em>sent on</em> <%= v.sent_date %></br>
        </p>
      <% end %>
      <% if current_user.artist_for?(@virtual_request) %>
        <% if v.sent.present? %>
          <%= link_to "Resend", send_out_journalbooks_virtual_request_virtual_path(@virtual_request, v), method: :put, class: "email-btn margin-top margin-right-small" %>
        <% else %>
          <%= link_to "Email", send_out_journalbooks_virtual_request_virtual_path(@virtual_request, v), method: :put, class: "email-btn margin-top margin-right-small" %>
          <%= link_to "Edit", edit_journalbooks_virtual_request_virtual_path(@virtual_request, v), class: "edit-btn margin-top" %>
        <% end %>  
      <% end %>         
    </div>
    <div class="two-col pdf-box">
      <%= link_to image_tag("icons/large-pdf.png"), v.document.url, class: "pull-left margin-right pdf-button", target: "_blank" %>
      <p style="line-height: 20px;">
        <em>completed on</em> <%= v.completed_date %></br> 
        <em>by </em><%= v.creative_user.name %></br>
      </p>
      <p style="padding-top: 30px;">
        <em>artist comments</em>
        <p class="comments">
          <% if v.artist_comments.empty? %>
            <em class="alert-text">none</em>
          <% else %>
            <%= v.artist_comments %>
          <% end %>
        </p>
      </p>
    </div>
  </div>
</div>