<% single_user ||= false %>

<thead>
  <tr>
    <th class="align-left">Requests By</th>
    <th>Requests Pending</th>
    <th>Requests Made <%= Time.new.strftime("%B") %></th>
    <th>Requests Converted <%= Time.new.strftime("%B") %></th>
    <% unless single_user %>
      <th>Completed all-time</th>
      <th>Converted all-time</th>
    <% end %>
  </tr>
</thead>
<tbody>
  <% if single_user %>

    <tr>
      <td class="avatar-td align-left">
        <%= image_tag sales.avatar_image, class: "small-avatar" %>
        <%= link_to sales.short_name, creative_user_path(sales) %>
      </td>
      <td><%= sales.requests_pending.count %></td>
      <td><%= sales.requests_this_month %></td>
      <td>?</td>
    </tr>
  
  <% else %>

    <% sales.each do |a| %>
      <tr>
        <td class="avatar-td align-left">
          <%= image_tag a.avatar_image, class: "small-avatar" %>
          <%= link_to a.short_name, creative_user_path(a) %>
          <% unless a.in_queue %>
            <%= image_tag "icons/asleep.png", class: "small-tbl-icon", alt: "Not in queue" %>
          <% end %>
        </td>
        <td><%= a.vr_to_work_on.count %></td>
        <td><%= a.virtuals_this_month %></td>
        <td>?</td>
        <td><%= a.virtual_requests.count %></td>
        <td>?</td>
      </tr>
    <% end %>

  <% end %>
</tbody>