<% single_user ||= false %>
<div class="row">
  <div class="red-box-darkest">
    <h1 class="tbl-header reverse">My Requests</h1>
    <table class="reverse-tbl align-center">
      <thead>
        <tr>
          <th class="align-left">Requests By</th>
          <% artists.each do |a| %>
            <th><%= a.short_name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        
        <% if single_user %>
          
          <tr>
            <td class="avatar-td align-left">
              <%= image_tag sales.avatar_image, class: "small-avatar" %>
              <%= link_to sales.short_name, creative_user_path(sales) %>
            </td>
            <% artists.each do |a| %>
              <td><%=  sales.requests_with(a).count %></td>
            <% end %> 
          </tr>

        <% else %>

          <% sales.each do |s| %>
            <tr>
              <td class="avatar-td align-left">
                <%= image_tag s.avatar_image, class: "small-avatar" %>
                <%= link_to s.short_name, creative_user_path(s) %>
              </td>
              <% artists.each do |a| %>
                <td><%=  s.requests_with(a).count %></td>
              <% end %> 
            </tr>
          <% end %>

        <% end %>
      </tbody>
    </table>
  </div>
</div>