<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Your virtual request #<%= @request.quote %><%= @virtual.version_display %> is ready.</h2>
    <p>
      <% if @virtual.artist_comments.blank? %>
        Attached are the virtuals you requested. Please let me know if you have any questions.
      <% else %>
        <%= @virtual.artist_comments %>
      <% end %>
    </p>
    <p style="color: red">
      <strong>PLEASE NOTE: </strong>These virtuals are general representations ONLY. All monitors and printers show different colors and are not accurate for viewing foils, printed inserts, or material colors. Virtuals are NOT considered camera-ready art or art department proofs.
    </p>
    <p>Thanks,</p>
    <p>
      <%= @request.artist.name %><br/>
      E: <%= @request.artist.email %><br/>
      P: <%= @request.artist.phone_number %><br/>
      www.journalbooks.com
    </p>
    <p>Problems seeing the attachment? You can access your virtual below as well -</br>
      <a href="http://www.creative-queue.com/<%= @virtual.document.url %>"> Virtual_<%= @request.quote %>_ver<%= @virtual.version %>
    </p>
  </body>
</html>