<div class="row pad-bottom-large pad-top">
  <div class="four-col">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="four-col">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="four-col">
    <%= f.label :phone_number, "Phone Number (numbers only)" %>
    <%= f.text_field :phone_number, maxlength: 10 %>
  </div>
  <div class="four-col">
    <%= f.label :avatar, "Profile Picture" %>
    <%= f.file_field :avatar %>
  </div>  
</div>