<tr>
  <td>
    <%= image_tag creative_user.avatar_image, class: "small-avatar" %>
    <%= link_to creative_user.name, creative_user_path(creative_user), class: "pad-left" %>
    <% if !creative_user.in_queue %>
      <%= image_tag "icons/asleep-blue.png", class: "asleep-icon", alt: "Not in queue" %>
    <% end %>
  </td>
  <td><%= creative_user.email %></td>
  <td><%= creative_user.in_queue ? "Yes" : "-" %></td>
  <td><%= creative_user.admin ? "Yes" : "-" %></td>
</tr>

