<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="pad-all-large">
    <div class="white-box">
      <h2>Create User</h2>
      <div class="row">
        <div class="four-col">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="four-col">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        <div class="four-col">
          <%= f.label :phone_number, "Phone Number (numbers only)" %>
          <%= f.text_field :phone_number, maxlength: 10 %>
        </div>
      </div>
      <div class="row pad-top pad-bottom">
        <div class="four-col">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
        <div class="four-col">
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation %>
        </div>
      </div>

      <h2>Status</h2>
      <div class="row pad-top pad-bottom">
        <div class="four-col">
          <% if current_user.admin && @user != current_user %>
            <%= f.label :admin %>
            <%= f.check_box :admin %>&nbsp;&nbsp;&nbsp;
          <% end %>
        </div>
        <div class="four-col">
          <%= f.label :in_queue %>
          <%= f.check_box :in_queue %></br>
        </div>
      </div> 
      
      <%= f.submit "Create User", class: "button margin-right" %>
      <%= link_to "Go Back", creative_users_path, class: "button" %>
    </div>
  </div>
<% end %>