<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row primary-bg pad-all-large">
    <div class="white-box">
      
      <h2>Create User</h2>
      <%= render 'creative_user_fields', f: f %>
      
      <h2>Attributes</h2>
      <%= render 'attributes_fields', f: f %> 
      
      <h2>Password</h2>
      <div class="row pad-top pad-bottom">
        <div class="four-col">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
        <div class="four-col">
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
      
      <%= f.submit "Create User", class: "save-btn margin-right" %>
      <%= link_to "Go Back", creative_users_path, class: "prev-btn" %>
    </div>
  </div>
<% end %>