<div class="row">
  <div class="white-box">
    <div class="row">
      <div class="two-col">
        <h1>
          <% if @user.avatar.present? %>
            <%= image_tag @user.avatar.url, class: "med-avatar pull-left" %> 
          <% else %>
            <%= image_tag 'profile/avatar.png', class: "med-avatar pull-left" %>
          <% end %>
          <%= @user.name %> 
        </h1>
        <h3 class="pad-top"><%= @user.admin ? "Admin" : @user.title %> | <%= @user.email %></h3>
      </div>
      <div class="two-col">
        <% if current_user.admin || current_user?(@user) %>
          <%= link_to "Edit Profile", edit_creative_user_path(@user), class: "edit-btn pull-right margin-right" %>
        <% end %>
      </div>
    </div>
    <div class="row pad-top-large">
      <div class="three-col">
        <h2>Awards</h2>
        <p>Coming soon...</p>
      </div>
      <div class="three-col">
        <h2>Records</h2>
        <p>Coming soon...</p>
      </div>
    </div>

    <div class="row pad-top-large">
      <h2>Title</h2>
      <p>Coming soon...</p>
    </div>

  </div>
</div>
<% if @user.artist %>
  <%= render "statistics/artist_stats_table", artists: @user, single_user: true, show_all: true %>
<% end %>

<% if @user.sales %>
  <%= render "statistics/request_stats_table", sales: @user, single_user: true, show_all: true%>
<% end %>
<% if @user.sales && @user.artist %>
  <%= render 'home/artist_queue', user_page: true, user: @user %>
  <%= render 'home/sales_queue', user_page: true, user: @user %>
<% elsif @user.artist %>
  <%= render 'home/artist_queue', user_page: true, user: @user %>
<% elsif @user.sales %>
  <%= render 'home/sales_queue', user_page: true, user: @user %>
<% end %>