<div class="row">
  <div class="white-box">
    <div class="row">
      <div class="two-col">
        <h1>
          <% if @user.avatar.present? %>
            <%= image_tag @user.avatar.url, class: "med-avatar pull-left" %> 
          <% else %>
            <%= image_tag 'profile/avatar.png', class: "med-avatar pull-left" %>
          <% end %>
          <%= @user.name %> 
        </h1>
        <h3 class="pad-top"><%= @user.admin ? "Admin #{@user.title.name}" : @user.title.name %> | <%= @user.email %></h3>
      </div>
      <div class="two-col">
        <% if current_user.admin || current_user?(@user) %>
          <%= link_to "Edit Profile", edit_creative_user_path(@user), class: "edit-btn pull-right margin-right" %>
        <% end %>
      </div>
    </div>
    <div class="row pad-top-large">
      <h2>Badges</h2>
      <% @badges.each do |b| %>
        <div class="three-col pad-top pad-right">
          <% if @user.has_badge?(b) %>
            <%= image_tag b.icon, class: "pull-left pad-right" %>
          <% else %>
            <%= image_tag b.icon, class: "pull-left pad-right not-earned" %>
          <% end %>
          <h3><%= b.name %> (0)</h3>
          <p><%= b.description %></p>
        </div>
      <% end %>
    </div>
    <div class="row pad-top-large">
      <h2>Title</h2>
      <p class="pull-right pad-top"><em><%= @user.last_title? ? "#{@user.title.name} (#{@user.title.value} virtuals)" : "#{@user.next_title.name} (#{@user.next_title.value} virtuals)" %></em></p>
      <p class="pad-top"><em><%= @user.last_title? ? "#{@user.prev_title.name} (#{@user.prev_title.value} virtuals)" : "#{@user.title.name} (#{@user.title.value} virtuals)" %></em></p>
      <div class="title-bar-container">
        <% if @user.last_title? %>
          <div class="title-bar-complete">Highest Rank Achieved!</div>
        <% else %>
          <div class="title-bar"><span id="counter" data-from="0" data-to="<%= @user.completed_stat %>"></span></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if @user.artist %>
  <%= render "statistics/artist_stats_table", artists: @user, single_user: true, show_all: true %>
<% end %>
<% if @user.sales %>
  <%= render "statistics/request_stats_table", sales: @user, single_user: true, show_all: true%>
<% end %>
<%= render 'home/virtual_queue', user_page: true, user: @user %>

<% unless @user.last_title? %>
  <script type="text/javascript">
    $(document).ready(function(){
      var percent = <%= @user.completed_stat %> / <%= @user.next_title.value %> * 100 + "%";

      $('.title-bar').animate({width: percent}, 1000);  
      $('#counter').countTo();
    });
  </script>
<% end %>

