<div class="row primary-bg pad-all-large">
  <div class="white-box">
    <div class="row">
      <div class="two-col">
        <h1>
          <% if @user.avatar.present? %>
            <%= image_tag @user.avatar.url, class: "small-avatar" %> 
          <% else %>
            <%= image_tag 'profile/avatar.png', class: "small-avatar" %>
          <% end %>
          <%= @user.name %> 
        </h1>
        <h3 class="pad-top"><%= @user.admin ? "Admin" : @user.title %> | <%= @user.email %></h3>
      </div>
      <div class="two-col">
        <% if current_user.admin || current_user?(@user) %>
          <%= link_to "Edit Profile", edit_creative_user_path(@user), class: "edit-btn pull-right margin-right" %>
        <% end %>
      </div>
    </div>

    <div class="row pad-top-large">
      <div class="three-col">
        <h2>Currently...</h2>
        <ul>
          <li><em><%= @user.vr_to_work_on.count %></em> Virtuals Queued</li>
          <li>Revisions waiting</li>
        </ul>
      </div>

      <div class="three-col">
        <h2>In <%= Time.new.strftime("%B") %></h2>
        <ul>
          <li><em><%= @user.virtuals_this_month %></em> Virtuals completed</li>
          <li>Virtuals revised</li>
          <li>Virtuals turned into orders</li>
        </ul>
      </div>

      <div class="three-col">
        <h2>All-time</h2>
        <ul>
          <li><em><%= @user.virtuals.count %></em> Virtuals completed</li>
          <li>Virtuals revised</li>
          <li>Virtuals turned into orders</li>
        </ul>
      </div>
    </div>

    <div class="row pad-top-large">
      <div class="three-col">
        <h2>Awards</h2>
        <p>Coming soon...</p>
      </div>
      <div class="three-col">
        <h2>Records</h2>
        <p>Coming soon...</p>
      </div>
    </div>

    <div class="row pad-top-large">
      <h2>Title</h2>
      <p>Coming soon...</p>
    </div>

  </div>
</div>