<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="white-box">
    <h2>Change Password for <%= @user.name %></h2>
    <div class="row pad-top pad-bottom-large">
      <div class="four-col">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="four-col">
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    <%= f.submit "Change password", class: "button margin-right" %>
    <%= link_to "Go Back", user_path(@user), class: "button" %>
  </div>
<% end %>