<section class="profile clickable">
  <div>
      <%= link_to image_tag(current_user.avatar_image), journalbooks_profile_path(current_user) %>
  </div>
  <%= link_to journalbooks_profile_path(current_user) do %>
    <ul>
      <li> 
        <%= current_user.name %>
        <% if !current_user.in_queue %>
          <%= image_tag "icons/asleep.png", class: "asleep-icon", alt: "Not in queue" %>
        <% end %>
      </li>
      <li> <%= current_user.admin ? "Admin #{current_user.title.name}" : current_user.title.name %></li>
      <li class="pad-top">Badges(<%= current_user.awarded_badges.count %>)</li> 
    </ul>
  <% end %>
</section>
<section class="profile-small clickable">
  <div>
      <%= link_to image_tag(current_user.avatar_image), journalbooks_profile_path(current_user) %>
  </div>
  <%= link_to journalbooks_profile_path(current_user) do %>
    <ul>
      <li>Badges(<%= current_user.awarded_badges.count %>)</li>
      <li>|</li>
      <li> <%= current_user.admin ? "Admin #{current_user.title.name}" : current_user.title.name %></li> 
      <li> 
        <%= current_user.name %>
        <% if !current_user.in_queue %>
          <%= image_tag "icons/asleep.png", class: "asleep-icon", alt: "Not in queue" %>
        <% end %>
      </li>
    </ul>
  <% end %>
</section>