<% 
  user ||= current_user
%>

<div class="row">
  <h1 class="tbl-header margin-right-large">Virtual Queue (<%= current_user.vr_assigned.count %>)</h1>
  <ul class="tabs">
    <li class="pull-left margin-right-large tab-on" data-table="pending-table-art">queued</li>
    <li class="pull-left margin-right-large" data-table="processing-table-art">processing</li>
    <li class="pull-left" data-table="completed-table-art">recently completed</li>
  </ul>
  <%= render partial: "/virtual_requests/virtual_request_table", :locals => { :virtuals => user.vr_assigned, :show_requested => true, :elem_class => "pending-table-art" } %>
  <%= render partial: "/virtual_requests/virtual_request_table", :locals => { :virtuals => user.vr_processing, :show_requested => true, :elem_class => "processing-table-art hide" } %>
  <%= render partial: "/virtual_requests/virtual_request_table", :locals => { :virtuals => user.vr_completed.limit(30), :elem_class => "completed-table-art hide", :show_requested => true } %>
  <% if user == current_user %>
    <%= link_to "Add to Virtual Queue", artist_new_virtual_requests_path, class: "new-btn" %>
  <% end %>
</div>