<% 
  user ||= current_user
%>

<div class="row">
  <h1 class="tbl-header margin-right-large">Sales Queue (<%= current_user.requests_assigned.count %>)</h1>
  <ul class="tabs">
    <li class="pull-left margin-right-large tab-on" data-table="pending-table-sales">queued</li>
    <li class="pull-left margin-right-large" data-table="processing-table-sales">processing</li>
    <li class="pull-left" data-table="completed-table-sales">recently completed</li>
  </ul>
  <%= render partial: "/virtual_requests/virtual_request_table", :locals => { :virtuals => user.requests_assigned, :show_artists => true, :elem_class => "pending-table-sales" } %>
  <%= render partial: "/virtual_requests/virtual_request_table", :locals => { :virtuals => user.requests_processing, :show_artists => true, :elem_class => "processing-table-sales hide" } %>
  <%= render partial: "/virtual_requests/virtual_request_table", :locals => { :virtuals => user.requests_completed, :show_artists => true, :elem_class => "completed-table-sales hide" } %>
  <% if user == current_user %>
    <%= link_to "Add to Sales Queue", new_virtual_request_path, class: "new-btn" %>
  <% end %>
</div>