<% if current_user %>

  <div class="pad-all-large">
    <h1>My Queue (<%= @virtual_requests.count %>)</h1>
    <ul>
      <li>working on</li>
      <li>recently completed</li>
    </ul>
    <%= render partial: "/virtual_requests/virtual_request_table", :locals => { :virtuals => @virtual_requests } %>
  </div>

  <div class="row-divider pad-all-large">
    <h1>Artist Statistics</h1>
    <table class="artist-tbl">
      <tr>
        <th>Artist</th>
        <th>Working On</th>
        <th>Completed in <%= Time.new.strftime("%B") %></th>
        <th>Completed all-time</th>
        <th>Converted to order in <%= Time.new.strftime("%B") %></th>
        <th>Converted all-time</th>
      </tr>
      <% @all_creative_users.each do |a| %>
        <tr>
          <td>
            <%= image_tag a.avatar_image, class: "small-avatar" %>
            <%= link_to a.name, creative_user_path(a), class: "pad-left" %>
            <% if !a.in_queue %>
              <%= image_tag "icons/asleep.png", class: "asleep-icon", alt: "Not in queue" %>
            <% end %>
          </td>
          <td><%= a.virtual_requests.count %></td>
          <td><%= a.virtuals_this_month %></td>
          <td><%= a.virtuals.count %></td>
          <td>?</td>
          <td>?</td>
        </tr>
      <% end %>
    </table>
  </div>

<% else %>
  <section class="white-box sign-in">
    <%= image_tag "logos/logo.png" %> 
    <%= form_for :session, url: sessions_path, :html => { :class => "pad-top" }  do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %><br />

      <%= f.label :password %>
      <%= f.password_field :password %><br />

      <%= f.submit "Sign in", class: "button" %>
    <% end %>
  </section>
<% end %>