<% if current_user %>
  <% if current_user.artist %>
    <div class="row pad-all-large">
      <h1 class="tbl-header margin-right-large">Virtual Queue (<%= current_user.vr_to_work_on.count %>)</h1>
      <ul class="tabs">
        <li class="pull-left margin-right-large tab-on">pending</li>
        <li class="pull-left">recently completed</li>
      </ul>
      <%= render partial: "/virtual_requests/virtual_request_table", :locals => { :virtuals => current_user.vr_to_work_on, :show_requested => true } %>
      <%= render partial: "/virtual_requests/virtual_request_table", :locals => { :virtuals => current_user.vr_completed.limit(30), :completed => true, :show_requested => true } %>
      <%= link_to "Add to Virtual Queue", artist_new_virtual_requests_path, class: "new-btn" %>
    </div>
  <% end %>

  <% if current_user.sales %>
    <div class="row pad-all-large">
      <h1 class="tbl-header margin-right-large">Sales Queue (<%= current_user.requests_pending.count %>)</h1>
      <ul class="tabs">
        <li class="pull-left margin-right-large tab-on">pending</li>
        <li class="pull-left">recently completed</li>
      </ul>
      <%= render partial: "/virtual_requests/virtual_request_table", :locals => { :virtuals => current_user.requests_pending, :show_artists => true } %>
      <%= render partial: "/virtual_requests/virtual_request_table", :locals => { :virtuals => current_user.requests_completed, :show_artists => true, :completed => true } %>
      <%= link_to "Add to Sales Queue", new_virtual_request_path, class: "new-btn" %>
    </div>
  <% end %>

  <% if current_user.sales %>
    <div class="row pad-all-large minus-top">
      <h1 class="tbl-header margin-right-large">Need Quote (<%= current_user.requests_needing_quote.count %>)</h1>
      <%= render partial: "/virtual_requests/virtual_request_table", :locals => { :virtuals => current_user.requests_needing_quote, :show_artists => true } %>
    </div>
  <% end %>

  <% if current_user.artist %>
    <div class="row pad-all-large minus-top">
      <div class="red-box">
        <h1 class="tbl-header reverse">My Virtuals</h1>
        <table class="reverse-tbl align-center">
          <%= render "statistics/artist_stats_table", artists: current_user, single_user: true %>
        </table>
      </div>
    </div>
  <% end %>

  <% if current_user.sales %>
    <div class="row pad-all-large minus-top">
      <div class="red-box-dark">
        <h1 class="tbl-header reverse">My Requests</h1>
        <table class="reverse-tbl align-center">
          <%= render "statistics/request_stats_table", sales: current_user, single_user: true%>
        </table>
      </div>
    </div>
  <% end %>

<% else %>
  <div class="row">
    <section class="white-box sign-in">
      <%= image_tag "logos/logo.png", class: "pull-left pad-top" %> 
      <%= form_for :session, url: sessions_path, :html => { :class => "pull-right" }  do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %><br />

        <%= f.label :password %>
        <%= f.password_field :password %><br />

        <%= f.submit "Sign in", class: "button" %>
      <% end %>
    </section>
  </div>
<% end %>