<div class="row">
  <section class="white-box sign-in">
    <%= image_tag "logos/logo.png", class: "pull-left pad-top" %> 
    <%= form_for :session, url: sessions_path, :html => { :class => "pull-right" }  do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %><br />

      <%= f.label :password %>
      <%= f.password_field :password %><br />

      <%= f.submit "Sign in", class: "button" %>
    <% end %>
  </section>
</div>