<div class="row pad-top-large pad-bottom-large">
  <div class="four-col">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>
  <div class="four-col">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="four-col">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
</div>
