<%= form_for(@rule, url: journalbooks_rule_path) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <div class="row pad-all-large">
    <div class="white-box">
      <h1>Edit Rule</h1>
      <%= render "rule_form_fields", f: f %>
      <%= f.submit "Edit Rule", class: "save-btn margin-right" %>
      <%= link_to "Go Back", "/#", class: "prev-btn margin-right" %>
      <%= link_to "Delete Rule", journalbooks_rule_path(@rule), method: :delete, data: { confirm: "Are you sure you want to delete this rule?" }, class: "delete-btn" %>   
    </div>
  </div>
<% end %>