<% @email_addresses ||= f.object.errors.any? ? params[:recipients] : @virtual_request.contact_email %>

<div class="row pad-bottom-large pad-top">
  <div class="four-col">
    <%= f.label :artist_comments %>
    <%= f.text_area :artist_comments, class: "extend-field" %>
  </div>
  <div class="four-col">
    <%= f.label :recipients, "Recipients - separate with ," %>
    <%= f.text_area :recipients, value: @email_addresses , class: "extend-field"  %>
  </div>
  <div class="four-col">
    <%= f.label :quote_number %>
    <%= f.text_field :quote_number %>
  </div>
  <div class="four-col">
    <%= f.label :document, "Upload Virtual" %>
    <%= f.file_field :document %>
  </div>
</div>
<%= f.hidden_field :creative_user_id, value: current_user.id %>
<%= f.hidden_field :virtual_request_id, value: @virtual_request.id %>
<%= f.submit "Save", class: "save-btn margin-right" %> 
<%= link_to "Go Back", virtual_request_path(@virtual_request), class: "prev-btn margin-right" %>
