<% 
  unless params[:search].nil?
    orders_checked = params[:search][:ordered][:options] == "no" ? "false" : "checked"
    completed_checked = params[:search][:completed][:options] == "no" ? "false" : "checked"
    artist_selected = params[:search][:artist_id][:options]
    sales_selected = params[:search][:creative_user_id][:options]
    quote = params[:search][:quote]
    end_client = params[:search][:end_client]
    company = params[:search][:company]
    contact = params[:search][:contact_name]
    asi = params[:search][:asi_number]
  end 

  artist_options = CreativeUser.where(artist: true).collect {|p| [ p.name, p.id ] } 
  sales_options = CreativeUser.where(sales: true).collect {|p| [ p.name, p.id ] } 
%>

<div class="row pad-all-large">
  <div class="white-box">
    <h1>Search</h1>
    <%= form_tag journalbooks_virtual_requests_path, method: :get do %>
      <div class="row pad-top pad-bottom">
        <div class="four-col">
          <%= label "search[asi_number]", "Customer Number"  %>
          <%= text_field_tag "search[asi_number]", asi %>
        </div>
        <div class="four-col">
          <%= label "search[end_client]", "End Client" %>
          <%= text_field_tag "search[end_client]", end_client %>
        </div>
        <div class="four-col">
          <%= label "search[company]", "Company"  %>
          <%= text_field_tag "search[company]", company %>
        </div>
        <div class="four-col">
          <%= label "search[contact_name]", "Requested by"  %>
          <%= text_field_tag "search[contact_name]", contact %>
        </div>
      </div>
      <div class="row pad-bottom">
        <div class="four-col">
          <%= label "search[quote]", "Virtual/Quote No."  %>
          <%= text_field_tag "search[quote]", quote %>
        </div>
        <div class="four-col">
          <%= label "search[artist_id]", "Artist" %>
          <%= select "search[artist_id]", :options, artist_options, {include_blank: true, selected: artist_selected} %>
        </div>
        <div class="four-col">
          <%= label "search[creative_user_id]", "Sales" %>
          <%= select "search[creative_user_id]", :options, sales_options, {include_blank: true, selected: sales_selected} %>
        </div>
      </div>
      <div class="row padded-bottom">
        <div class="four-col">
          <%= label "search[ordered]", "Only Ordered Virtuals" %>
          <%= check_box "search[ordered]", :options, { checked: orders_checked }, "yes", "no" %>
        </div>
        <div class="four-col">
          <%= label "search[completed]", "Only Completed Virtuals" %>
          <%= check_box "search[completed]", :options, { checked: completed_checked }, "yes", "no" %>
        </div>
      </div>
      <%= submit_tag "Search", class: "button margin-right" %>
      <% if params[:search].present? %>
        <%= link_to "New Search", virtual_requests_path, class: "button margin-right" %>
      <% end %>
    <% end %>
  </div>
</div>
<% if params[:search].present? %>
  <div class="row search-results">
    <h1><%= @virtual_requests.count %> Results</h1>
    <p class="pad-top">
      <% params[:search].each do |s| %>
        <% if s[1].is_a? Hash %>
          <% if s[1][:options] == "yes" || s[1][:options] == "no" %>
            <%= "• #{s[0]}: #{s[1][:options]} " unless s[1][:options] == "no" %>  
          <% else %>
            <%  
              desc = s[0] == "artist_id" ? "artist" : "sales" 
              id = s[1][:options]
              user = CreativeUser.find(id) unless id.empty?
            %>
            <%= "• #{desc}: #{user.name} " unless s[1][:options].blank? %>
          <% end %>
        <% else %>
          <%= "• #{s[0]}: #{s[1]} " unless s[1].blank?  %>  
        <% end %>
      <% end %>
    <%= render 'virtual_request_table', virtuals: @virtual_requests, search: true %>
  </div>
<% end %>