<!DOCTYPE html>
<html>
  <head>
    <title>CreativeQueue - Journalbooks</title>
    <%= stylesheet_link_tag    "journalbooks", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href='http://fonts.googleapis.com/css?family=Alef:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% if current_user %>
      <% if new_badges? %>
        <%= render 'shared/badge_notification', awards: new_badges %>
      <% end %>
    <% end %>
    <%= render 'layouts/journalbooks/journalbooks_header' %>
    <% flash.each do |key, value| %>
      <section class="alert-box-<%= key %> hide">
        <div class="alert alert-<%= key %>"><%= value %></div>
      </section>
    <% end %>
    <div class="primary-bg">
      <%= yield %>
    </div>
    <%= render 'layouts/journalbooks/journalbooks_footer' %>
    <%#= debug(params) if Rails.env.development? %>
  </body>
</html>
